{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <!-- Debugging sort_by value -->
    <p>Currently sorting by: {{ sort_by }}</p>  <!-- Debug line to display the sort_by value -->

    <div class="row">
        <!-- Search Form -->
        <div class="col-md-6">
            <form method="get" action="{% url 'movies:movie_list' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search movies">
                    <button class="btn btn-dark" type="submit">Search</button>
                </div>
            </form>
        </div>

        <!-- Sort Form -->
        <div class="col-md-6">
            <form method="get" action="{% url 'movies:movie_list' %}">
                <div class="input-group">
                    <select name="sort_by" id="sort_by" class="form-control" onchange="this.form.submit()">
                        <option value="popularity" {% if sort_by == "popularity" %}selected{% endif %}>Popularity</option>
                        <option value="vote_average" {% if sort_by == "vote_average" %}selected{% endif %}>Rating</option>
                        <option value="release_date" {% if sort_by == "release_date" %}selected{% endif %}>Release Date</option>
                        <option value="original_title" {% if sort_by == "original_title" %}selected{% endif %}>Title</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        {% for movie in movies %}
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.overview|truncatewords:20 }}</p>
                    <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-dark">More Details</a>
                    <button class="btn btn-outline-danger" data-movie-id="{{ movie.id }}" data-title="{{ movie.title }}" data-poster="{{ movie.poster_path }}" data-release="{{ movie.release_date }}" data-rating="{{ movie.vote_average }}">
                        <i class="fa fa-heart"></i> Add to Favorites
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}