{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Search Form -->
        <div class="col-md-6">
            <form method="get" action="{% url 'movies:movie_list' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" value="{{ search_query }}"
                        placeholder="Search movies">
                    <button class="btn btn-dark" type="submit">Search</button>
                </div>
            </form>
        </div>

        <!-- Sort Form -->
        <div class="col-md-6">
            <form method="get" action="{% url 'movies:movie_list' %}">
                <div class="input-group">
                    <label for="sort_by" class="input-group-text btn btn-dark">Sort By:</label>
                    <select name="sort_by" id="sort_by" class="form-control" onchange="this.form.submit()">
                        <option value="popularity.desc" {% if sort_by == "popularity.desc" %}selected{% endif %}>
                            Popularity</option>
                        <option value="vote_average.desc" {% if sort_by == "vote_average.desc" %}selected{% endif %}>
                            Rating</option>
                        <option value="release_date.desc" {% if sort_by == "release_date.desc" %}selected{% endif %}>
                            Release Date</option>
                        <option value="original_title.asc" {% if sort_by == "original_title.asc" %}selected{% endif %}>
                            Title</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row mt-4" id="movie-container">
            {% for movie in movies %}
            <div class="col-12 col-md-4 col-lg-3 card-deck">
                <div class="card mb-4">
                    {% if movie.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
                        alt="{{ movie.title }}">
                    {% else %}
                    <img src="{% static 'images/movie-card-placeholder-img.png' %}" class="card-img-top"
                        alt="No Image Available">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview|truncatewords:10 }}</p>
                        <div class="btn-wrapper text-center d-flex justify-content-between">
                            <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-dark card-link">Show
                                More</a>
                                <button class="btn btn-outline-danger card-link favorite-btn" data-movie-id="${movie.id}" data-title="${movie.title}" data-poster="${movie.poster_path}" data-release="${movie.release_date}" data-rating="${movie.vote_average}">
                                    <i class="fa fa-heart"></i> Add to List
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Loading Indicator -->
        <div id="loading" style="text-align: center; display: none;">
            <p>Loading more movies...</p>
        </div>
    </div>
</div>


{% endblock %}