{% extends 'base.html' %}

{% load static %}


{% block extra_title %}
| Movies
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Search Form -->
        <div class="col-sm-12 col-md-6">
            <form method="get" action="{% url 'movies:movie_list' %}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" value="{{ search_query|default_if_none:'' }}"
                        placeholder="Search movies">
                    <button class="btn btn-dark" type="submit">Search</button>
                </div>
            </form>
        </div>

        <!-- Sort Form -->
        <div class="col-sm-12 col-md-6">
            <div class="container px-0">
                <div class="row">
                    <div class="col-6 w-50">
                        <div class="input-group mb-3">
                            <form method="get" action="{% url 'movies:movie_list' %}" id="sortForm">
                                <select class="form-select" id="sortSelect" name="sort_by" onchange="document.getElementById('sortForm').submit()">
                                    <option value="" disabled>Sort By:</option>
                                    <option value="popularity.desc" {% if sort_by == "popularity.desc" %}selected{% endif %}>Most Popular</option>
                                    <option value="vote_average.desc" {% if sort_by == "vote_average.desc" %}selected{% endif %}>Heighest Rate</option>
                                    <option value="release_date.desc" {% if sort_by == "release_date.desc" %}selected{% endif %}>Latest Release</option>
                                    <option value="original_title.asc" {% if sort_by == "original_title.asc" %}selected{% endif %}>Title A-Z</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="col-6 w-50">
                        <div class="input-group mb-3">
                            <form method="get" action="{% url 'movies:movie_list' %}" id="genreForm">
                                <select class="form-select" id="genreSelect" name="genre" onchange="document.getElementById('genreForm').submit()">
                                    <option value="" disabled>Choose Genre</option>
                                    <option value="">All Genres</option>
                                    {% for genre in genres %}
                                        <option value="{{ genre.id }}" {% if selected_genre == genre.id %}selected{% endif %}>{{ genre.name }}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>        
    </div>

    <div class="container mt-4">
        <div class="row mt-4" id="movie-container">
            <div class="row g-4">
                {% for movie in movies %}
                <div class="col-12 col-md-6 col-lg-4 col-xxl-3 card-deck d-flex">
                    <div class="card mb-4 shadow-sm" style="height: 100%;">
                        {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
                            alt="{{ movie.title }}">
                        {% else %}
                        <img src="{% static 'images/img-not-found.png' %}" class="card-img-top"
                            alt="No Image Available">
                        {% endif %}
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.overview|truncatewords:20 }}</p>
                            <div class="btn-wrapper text-center d-flex justify-content-between">
                                <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-dark card-link">Show
                                    More</a>
                                <button class="btn {% if movie.is_favorite %}btn-danger{% else %}btn-outline-danger{% endif %} card-link favorite-btn btn-sm" 
                                    data-movie-id="{{ movie.id }}" 
                                    data-title="{{ movie.title }}" 
                                    data-posterpath="{{ movie.poster_path }}" 
                                    data-releasedate="{{ movie.release_date }}" 
                                    data-rating="{{ movie.vote_average }}"
                                    data-is-favorite="{{ movie.is_favorite|yesno:'true,false' }}">
                                    <i class="fa {% if movie.id in favorite_movie_ids %}fa-solid{% else %}fa-regular{% endif %} fa-heart"></i> 
                                    {% if movie.is_favorite %} Remove {% else %} Add to Favs {% endif %}
                                </button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Loading Indicator -->
        <div id="loading" style="text-align: center; display: none;">
            <p>Loading more movies...</p>
        </div>
    </div>

    <!-- Back to Top Button -->
    <button id="back-to-top" class="back-to-top">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
</div>

{% endblock %}