{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">🔥 Trending Movies This Week</h2>
    <div class="row">
        {% for movie in movies %}
        <div class="col-12 col-md-4 col-lg-3 card-deck d-flex">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm" style="height: 100%;">
                    {% if movie.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
                        alt="{{ movie.title }}">
                    {% else %}
                    <img src="{% static 'images/img-not-found.png' %}" class="card-img-top"
                        alt="No Image Available">
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h6 class="card-title">{{ movie.title }}</h6><br>
                        <div class="btn-wrapper text-center d-flex justify-content-between">
                            <a href="/movies/{{ movie.id }}/" class="btn btn-dark btn-sm">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No trending movies available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}