{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<section id="actor-details">
    <div class="row">
        <div class="col-md-6">
            {% if actor.profile_path %}
                <img 
                src="https://image.tmdb.org/t/p/w300/{{ actor.profile_path }}" 
                alt="{{ actor.name }}" class="card-img-top rounded">
            {% else %}
                <img src="{% static 'images/img-not-found.png' %}" 
                alt="Image not available" class="card-img-top rounded">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ actor.name }}</h1>
    
            <p><strong>Date of Birth:</strong> {{ actor.birthday }}</p>
            <p><strong>Biography:</strong> {{ actor.biography }}</p>
            {% if social_links %}
            <div class="social-links mt-3">
                <h5>Follow {{ actor.name }}</h5>
                <div class="d-flex gap-3">
                    {% if social_links.imdb %}
                        <a href="{{ social_links.imdb }}" target="_blank" 
                        class="text-dark">
                            <i class="fab fa-imdb fa-2x"></i>
                        </a>
                    {% endif %}
                    {% if social_links.twitter %}
                        <a href="{{ social_links.twitter }}" target="_blank" 
                        class="text-dark">
                            <i class="fa-brands fa-x-twitter fa-2x"></i>
                        </a>
                    {% endif %}
                    {% if social_links.instagram %}
                        <a href="{{ social_links.instagram }}" target="_blank" 
                        class="text-danger">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    {% endif %}
                    {% if social_links.facebook %}
                        <a href="{{ social_links.facebook }}" target="_blank" 
                        class="text-primary">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        </div> 
</section>

<!-- Horizontal Line -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap 
align-items-center pt-3 pb-2 mb-1 border-bottom"></div>

<section id="filmography">
    <h3>Filmography</h3>
    <div class="horizontal-scroll-container">
        <div class="row">
            <div class="horizontal-scroll-content">
                {% for movie in movies %}  {# Loop through the actor's movies #}
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm" style="height: 100%;">
                            {% if movie.poster_path %}
                                <img 
                                src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                                class="card-img-top"
                                    alt="{{ movie.title }}">
                            {% else %}
                                <img 
                                src="{% static 'images/img-not-found.png' %}" 
                                class="card-img-top"
                                    alt="No Image Available">
                            {% endif %}
                            <div class="card-body d-flex flex-column 
                            justify-content-between">
                                <h6 class="card-title">{{ movie.title }}</h6>
                                <br>
                                <div class="btn-wrapper text-center d-flex 
                                justify-content-between">
                                    <a 
                                    href="{% url 'movies:movie_detail' movie.id %}" 
                                    class="btn btn-dark btn-sm">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</section>

<!-- Horizontal Line -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap 
align-items-center pt-3 pb-2 mb-1 border-bottom"></div>

<section id="more-actors">
    <h3>You may also like</h3>
    <div class="horizontal-scroll-container">
        <div class="row">
            <div class="horizontal-scroll-content">
                {% for actor in similar_actors %}
                <div class="col-md-3">
                    {% if actor.id %}
                        <a href="{% url 'actor_detail' actor.id %}" 
                        class="link-dark">
                    {% else %}
                    <!-- Display an error message if the actor ID is missing -->
                        <p style="color: red;">Error: Missing actor ID!</p> 
                    {% endif %}
                        {% if actor.profile_path %}
                            <img 
                            src="https://image.tmdb.org/t/p/w200/{{ actor.profile_path }}" 
                            class="img-fluid rounded" alt="{{ actor.name }}">
                        {% else %}
                            <img src="{% static 'images/img-not-found.png' %}" 
                            class="img-na img-fluid rounded" alt="Image not available">
                        {% endif %}
                        <p>{{ actor.name }}</p>
                    {% if actor.id %}  
                        </a>  
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

</div>
{% endblock %}
