{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container justify-content-center text-center shadow-sm" id="hero">
    <img src="{% static 'images/cinemate-hero-img.jpg' %}" class="img-fluid rounded" alt="Hero Image">
</div>
<div class="container justify-content-center text-center">
    <h1 class="display-2">Welcome to Cinemate!</h1>
    <p class="lead">Your go-to movie search engine. Discover trending movies, cast details, user reviews, ratings, and build your favorite movie list. Powered by <strong>TMDB</strong> API.</p>
</div>
{% endblock %}