{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Welcome, {{ user.first_name }}!</h2>
    <p>Email: {{ user.email }}</p>
</div>
<h3>Favorite Movies</h3>
<div class="container">
    <div class="row">
        {% for movie in favorite_movies %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
                    alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">Release Year: {{ movie.release_date|date:"Y" }}</p>
                    <p class="card-text">Rating: {{ movie.rating }}</p>
                    <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-dark">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No favorite movies added yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}